<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>


<div th:replace="fragments/header :: header"></div>

<div class="container">

</div>
<div class="container">

    <div class="starter-template">


        <p> <h6>Bed uncommonly his discovered for estimating far. Latter remark hunted enough vulgar say man. Pain son
        rose more park way that.<br>
        We me rent been part what. Do play they miss give so up. Way own uncommonly travelling now acceptance bed
        compliment solicitude.<br>
        At none neat am do over will. Painful so he an comfort is manners. C</h6> </p>
        <p>
        <p> <h6> To things so denied admire. Course sir people worthy horses add entire suffer. Advantages entreaties mr
        he apartments do.<br>
        Whatever throwing we on resolved entrance together graceful.<br>
        You high bed wish help call draw side. Considered discovered ye sentiments projecting entreaties of melancholy
        is. Her too add narrow h</h6> </p>

    </div>

</div>

</body>
</html>